#calculator {
    display: flex;
    margin: 0% 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px gray solid;
    border-radius: 5px;

    padding-bottom: 50px;
}

#display {
    border: 1px gray solid;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    text-align: right;
    line-height: 2px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#helperInfo {
    color: gray;
    font-size: 14px;
    padding-right: 5px;
    white-space: pre-wrap;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#result {
    padding-right: 5px;
    font-size: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#buttons {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

#digits {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2 1 0;
}

#digits button {
    flex: 0 0 33.3333%;

    border-radius: 0px;
    box-shadow: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#operations {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 1 1 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#operations button {
    background-color: rgb(97, 179, 247);
    color: white;
    box-shadow: none;
    border-radius: 0px;
    margin-right: 10%;
}

#removeOps {
    display: flex;
    align-items: stretch;
    margin-right: 10%;
}
#removeOps button {
    margin-right: 0%;
    flex: 1;
}